<configuration>
	<components>

		<component
			id="UCommerce.GiftCards.GiftCardLibraryInternal"
			service="UCommerce.Transactions.Payments.GiftCard.Api.GiftCardLibraryInternal, UCommerce.Transactions.Payments.GiftCard"
			type="UCommerce.Transactions.Payments.GiftCard.Api.GiftCardLibraryInternal, UCommerce.Transactions.Payments.GiftCard" />
		
	</components>
</configuration>