<configuration>
  <components>
    <partial-component id="Basket">
      <parameters>
        <tasks>
          <array>
            <value insert-after="${Basket.CalculateOrderLineTaxRate}">${Basket.RemoveVatAndVatRateFromOrderlinesContainingGiftCard}</value>
          </array>
        </tasks>
      </parameters>
    </partial-component>

    <component id="Basket.RemoveVatAndVatRateFromOrderlinesContainingGiftCard"
			service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
			type="UCommerce.Transactions.Payments.GiftCard.Pipelines.RemoveVatAndVatRateFromOrderlinesContainingGiftCardTask, UCommerce.Transactions.Payments.GiftCard" />
  </components>
</configuration>