<configuration>
  <components>
    <partial-component id="Basket">
      <parameters>
        <tasks>
          <array>
            <value insert-after="${Basket.CalculateOrderLineTaxRate}">${UCommerce.GiftCards.RemoveVatAndVatRateFromOrderlinesContainingGiftCard}</value>
            <value insert-after="${Basket.RoundUpOrderTotalForCurrenciesWithoutDecimalDigits}">${UCommerce.GiftCards.RecalculateGiftCardPaymentsAmount}</value>
          </array>
        </tasks>
      </parameters>
    </partial-component>

    <component id="UCommerce.GiftCards.RemoveVatAndVatRateFromOrderlinesContainingGiftCard"
			service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
			type="UCommerce.Transactions.Payments.GiftCard.Pipelines.RemoveVatAndVatRateFromOrderlinesContainingGiftCardTask, UCommerce.Transactions.Payments.GiftCard" />

		<component id="UCommerce.GiftCards.RecalculateGiftCardPaymentsAmount"
			service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
			type="UCommerce.Transactions.Payments.GiftCard.Pipelines.RecalculateGiftCardPaymentsAmountTask, UCommerce.Transactions.Payments.GiftCard" />

	</components>
	
	
</configuration>