<configuration>
	<components>
		<!-- Pipeline Instance -->
		<partial-component id="Checkout">
			<parameters>
				<tasks>
					<array>
						<value insert="first">${UCommerce.GiftCards.RedeemGiftCard}</value>
					</array>
				</tasks>
			</parameters>
		</partial-component>

		<!-- Pipeline Tasks-->
    <component id="UCommerce.GiftCards.RedeemGiftCard"
        service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
        type="UCommerce.Transactions.Payments.GiftCard.Pipelines.RedeemGiftCardsTask, UCommerce.Transactions.Payments.GiftCard" />

	</components>
</configuration>