<configuration>
	<components>
		<!-- Pipeline Instance -->
		<!-- <partial-component id="PageBuilder"> -->
		<!-- 	<parameters> -->
		<!-- 		<tasks> -->
		<!-- 			<array> -->
		<!-- 				<value insert="first">${UCommerce.GiftCards.EditProductGiftCardTab}</value> -->
		<!-- 				<value insert="first">${UCommerce.GiftCards.RemovePriceAndVariantsTabsFromEditProduct}</value> -->
		<!-- 			</array> -->
		<!-- 		</tasks> -->
		<!-- 	</parameters> -->
		<!-- </partial-component> -->

		<!-- Pipeline Tasks-->
  <!--  		 <component id="UCommerce.GiftCards.RemovePriceAndVariantsTabsFromEditProduct" -->
		<!-- 	   		service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Presentation.UI.SectionGroup, UCommerce.Presentation]], UCommerce" -->
		<!-- 		   	type="UCommerce.Transactions.Payments.GiftCard.Pipelines.RemovePriceAndVariantsTabsFromEditProductTask, UCommerce.Transactions.Payments.GiftCard" /> -->
		<!-- -->
		<!-- <component id="UCommerce.GiftCards.EditProductGiftCardTab" -->
		<!-- 		   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Presentation.UI.SectionGroup, UCommerce.Presentation]], UCommerce" -->
		<!-- 		   type="UCommerce.Transactions.Payments.GiftCard.Pipelines.EditProductGiftCardTabTask, UCommerce.Transactions.Payments.GiftCard" > -->
		<!-- 	<parameters> -->
		<!-- 		<resourceManager>${UCommerce.GiftCards.ResourceManager}</resourceManager> -->
		<!-- 	</parameters> -->
		<!-- </component> -->

	</components>
</configuration>