<configuration>
	<components>
		<!-- Pipeline Instance -->
		<partial-component id="PageBuilder">
			<parameters>
				<tasks>
					<array>
						<value insert="first">${PageBuilder.EditProductGiftCardTab}</value>
					</array>
				</tasks>
			</parameters>
		</partial-component>

		<!-- Pipeline Tasks-->
		<component id="PageBuilder.EditProductGiftCardTab"
			   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Presentation.UI.SectionGroup, UCommerce.Presentation]], UCommerce"
					   type="UCommerce.Transactions.Payments.GiftCard.Pipelines.EditProductGiftCardTabTask, UCommerce.Transactions.Payments.GiftCard" />

	</components>
</configuration>