<configuration>
	<components>
		<!-- Pipeline Instance -->
		<partial-component id="PageBuilder">
			<parameters>
				<tasks>
					<array>
						<value insert="first">${UCommerce.GiftCards.EditPaymentMethodGiftCardsTab}</value>
					</array>
				</tasks>
			</parameters>
		</partial-component>

		<!-- Pipeline Tasks-->
		<component id="UCommerce.GiftCards.EditPaymentMethodGiftCardsTab"
			   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Presentation.UI.SectionGroup, UCommerce.Presentation]], UCommerce"
					   type="UCommerce.Transactions.Payments.GiftCard.Pipelines.EditPaymentMethodGiftCardsTabTask, UCommerce.Transactions.Payments.GiftCard">
			<parameters>
				<resourceManager>${UCommerce.GiftCards.ResourceManager}</resourceManager>
			</parameters>
		</component>

	</components>
</configuration>