<configuration>
	<components>
		<!-- Pipeline Instance -->
		<partial-component id="Initialize">
			<parameters>
				<tasks>
					<array>
						<value insert="last">${UCommerce.GiftCards.Initialize.SetupGiftcardEmailType}</value>
						<value insert="last">${UCommerce.GiftCards.Initialize.SetupGiftcardDefinition}</value>
						<value insert="last">${UCommerce.GiftCards.Initialize.SetupGiftcardPaymentMethod}</value>
						<value insert="last">${UCommerce.GiftCards.Initialize.MigrateAppData}</value>
					</array>
				</tasks>
			</parameters>
		</partial-component>

		<!-- Pipeline Tasks-->
		<component id="UCommerce.GiftCards.Initialize.SetupGiftcardPaymentMethod"
			service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.Initialization.InitializeArgs, UCommerce.Pipelines]], UCommerce"
			type="UCommerce.Transactions.Payments.Giftcard.Pipelines.Installation.SetupGiftcardPaymentMethod, UCommerce.Transactions.Payments.Giftcard" />

		<component id="UCommerce.GiftCards.Initialize.SetupGiftcarEmailType"
			service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.Initialization.InitializeArgs, UCommerce.Pipelines]], UCommerce"
			type="UCommerce.Transactions.Payments.Giftcard.Pipelines.Installation.SetupGiftCardEmailTypeTask, UCommerce.Transactions.Payments.Giftcard" />

		<component id="UCommerce.GiftCards.Initialize.SetupGiftcardDefinition"
			service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.Initialization.InitializeArgs, UCommerce.Pipelines]], UCommerce"
			type="UCommerce.Transactions.Payments.Giftcard.Pipelines.Installation.SetupGiftCardDefinitionTask, UCommerce.Transactions.Payments.Giftcard" />

		<component id="UCommerce.GiftCards.Initialize.MigrateAppData"
			service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.Initialization.InitializeArgs, UCommerce.Pipelines]], UCommerce"
			type="UCommerce.Transactions.Payments.Giftcard.Pipelines.Installation.MigrateAppDatabase, UCommerce.Transactions.Payments.Giftcard" />

	</components>
</configuration>