<configuration>
	<components>
		<!-- Pipeline Instance -->
		<partial-component id="Initialize">
			<parameters>
				<tasks>
					<array>
						<value insert="last">${UCommerce.GiftCards.Initialize.SetupGiftcardEmailType}</value>
						<value insert="last">${UCommerce.GiftCards.Initialize.SetupGiftcardDefinition}</value>
						<value insert="last">${UCommerce.GiftCards.Initialize.SetupGiftcardPaymentMethod}</value>
					  	<value insert="last">${UCommerce.GiftCards.Initialize.SetupGiftCardDefinitionFieldTask}</value>
						<value insert="last">${UCommerce.GiftCards.Initialize.SetupGiftCardPaymentDefinitionTask}</value>
						<value insert="last">${UCommerce.GiftCards.Initialize.SetupGiftCardPaymentDefinitionFieldTask}</value>
					</array>
				</tasks>
			</parameters>
		</partial-component>

		<!-- Pipeline Tasks-->
		<component id="UCommerce.GiftCards.Initialize.SetupGiftcardPaymentMethod"
			service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.Initialization.InitializeArgs, UCommerce.Pipelines]], UCommerce"
			type="UCommerce.Transactions.Payments.GiftCard.Pipelines.Installation.SetupGiftcardPaymentMethod, UCommerce.Transactions.Payments.GiftCard" />

		<component id="UCommerce.GiftCards.Initialize.SetupGiftcardEmailType"
			service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.Initialization.InitializeArgs, UCommerce.Pipelines]], UCommerce"
			type="UCommerce.Transactions.Payments.GiftCard.Pipelines.Installation.SetupGiftCardEmailTypeTask, UCommerce.Transactions.Payments.GiftCard" />

		<component id="UCommerce.GiftCards.Initialize.SetupGiftcardDefinition"
			service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.Initialization.InitializeArgs, UCommerce.Pipelines]], UCommerce"
			type="UCommerce.Transactions.Payments.GiftCard.Pipelines.Installation.SetupGiftCardDefinitionTask, UCommerce.Transactions.Payments.GiftCard" />

	  <component id="UCommerce.GiftCards.Initialize.SetupGiftCardDefinitionFieldTask"
	             service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.Initialization.InitializeArgs, UCommerce.Pipelines]], UCommerce"
	             type="UCommerce.Transactions.Payments.GiftCard.Pipelines.Installation.SetupGiftCardDefinitionFieldTask, UCommerce.Transactions.Payments.GiftCard" />

    <component id="UCommerce.GiftCards.Initialize.SetupGiftCardPaymentDefinitionTask"
               service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.Initialization.InitializeArgs, UCommerce.Pipelines]], UCommerce"
               type="UCommerce.Transactions.Payments.GiftCard.Pipelines.Installation.SetupGiftCardPaymentDefinitionTask, UCommerce.Transactions.Payments.GiftCard" />

    <component id="UCommerce.GiftCards.Initialize.SetupGiftCardPaymentDefinitionFieldTask"
               service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.Initialization.InitializeArgs, UCommerce.Pipelines]], UCommerce"
               type="UCommerce.Transactions.Payments.GiftCard.Pipelines.Installation.SetupGiftCardPaymentDefinitionFieldTask, UCommerce.Transactions.Payments.GiftCard" />
  </components>
</configuration>