<configuration>
	<components>

		<component id="UCommerce.GiftCards.MapAssemblyTag"
			 service="UCommerce.EntitiesV2.IContainsNHibernateMappingsTag, UCommerce"
			 type="UCommerce.Transactions.Payments.GiftCard.Entities.Maps.MapAssemblyTag, UCommerce.Transactions.Payments.GiftCard" />

	</components>
</configuration>