<configuration>
	<components>

		<component id="UCommerce.GiftCards.ResourceManager"
			 service="UCommerce.Infrastructure.Globalization.IResourceManager, UCommerce.Infrastructure"
			 type="UCommerce.Transactions.Payments.GiftCard.Globalization.ResourceManager, UCommerce.Transactions.Payments.GiftCard" />

	</components>
</configuration>