<configuration>
	<components>
		<partial-component id="controls.ucommerceMain">
			<parameters>
				<resouresIncludeLists>
					<array>
						<item insert="last">${GiftCard.ResourcesIncludeList}</item>
					</array>
				</resouresIncludeLists>
			</parameters>
		</partial-component>

		<component id="GiftCard.ResourcesIncludeList"
				service="UCommerce.Presentation.UI.Resources.IResourcesIncludeList, UCommerce.Presentation"
				type="UCommerce.Transactions.Payments.GiftCard.UI.Resources.GiftCardResourcesIncludeList, UCommerce.Transactions.Payments.GiftCard" />

	</components>
</configuration>