<configuration>
  <components>
    <component id="EnsureGiftCardRoleAreUpToDateService"
			 service="UCommerce.Security.IEnsureRolesAreUpToDateService, UCommerce"
			 type="UCommerce.Transactions.Payments.GiftCard.Entities.Security.EnsureGiftCardRoleAreUpToDateService, UCommerce.Transactions.Payments.GiftCard" />
  </components>
</configuration>