<configuration>
	<components>

		<component id="GiftCardService"
			 service="UCommerce.Transactions.Payments.GiftCard.Services.IGiftCardService, UCommerce.Transactions.Payments.GiftCard"
			 type="UCommerce.Transactions.Payments.GiftCard.Services.GiftCardService, UCommerce.Transactions.Payments.GiftCard" />

    <component id="Gift Card"
			  service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
			  type="UCommerce.Transactions.Payments.GiftCard.GiftCardPaymentMethodService, UCommerce.Transactions.Payments.GiftCard" />
	
  </components>
</configuration>