<configuration>
	<components>
		<partial-component id="ToCompletedOrder">
			<parameters>
				<tasks>
					<array>
						<value insert="last">${ToCompletedOrder.IssueGiftCards}</value>
					</array>
				</tasks>
			</parameters>
		</partial-component>

		<partial-component id="ToCompletedOrder">
			<parameters>
				<tasks>
					<array>
						<value insert-after="${ToCompletedOrder.IssueGiftCards}">${ToCompletedOrder.SendGiftCardEmail}</value>
					</array>
				</tasks>
			</parameters>
		</partial-component>

		<!-- Pipeline Tasks-->
		<component id="ToCompletedOrder.IssueGiftCards"
					   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
					   type="UCommerce.Transactions.Payments.GiftCard.Pipelines.IssueGiftCardTask, UCommerce.Transactions.Payments.GiftCard">
			<parameters>
				<daysGiftIsAvailableAfterPurchase>365</daysGiftIsAvailableAfterPurchase>
			</parameters>
		</component>

		<component id="ToCompletedOrder.SendGiftCardEmailTask"
							service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
							type="UCommerce.Transactions.Payments.GiftCard.Pipelines.SendGiftCardEmailTask, UCommerce.Transactions.Payments.GiftCard">
			<parameters>
				<emailTypeName>GiftCard</emailTypeName>
			</parameters>
		</component>

	</components>
</configuration>